@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-padding-top: 80px;
	scroll-behavior: smooth;
}

[data-rehype-pretty-code-fragment] {
	@apply rounded-lg overflow-hidden mb-8;
	border-radius: 0.5rem !important;
}

[data-rehype-pretty-code-title] {
	@apply text-white bg-gray-700 text-sm py-1 px-4;
}

pre {
	@apply text-sm;
	margin: 0 !important;
}

.prose p code {
	@apply p-1 rounded bg-gray-600 text-white font-extralight text-xs;
}

.prose .anchor {
	@apply absolute invisible no-underline;

	margin-left: -1em;
	padding-right: 0.5em;
	width: 80%;
	max-width: 700px;
	cursor: pointer;
}

.anchor:hover {
	@apply visible;
}

.prose a {
	@apply transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
	@apply text-neutral-300 dark:text-neutral-700;
	content: '#';
}

.prose *:hover > .anchor {
	@apply visible;
}
